#open-page{
    display: -webkit-flex;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}